/BvD_ID.csv
/GER_2016.csv
/GER_2017.csv
/GER_2018.csv
/GER_2019.csv
/GER_2020.csv
/GER_2021.csv
/GER_2022.csv
/GER_2023-25.csv
/GER_TaxNo.xlsx
/GER_TradeNo_1-250000.xlsx
/GER_TradeNo_250001-500000.xlsx
/GER_TradeNo_500001-730532.xlsx
/GER_TradeNo_Addition.xlsx
/Merged_StateAid_Size_Sector_Region.xlsx
/NID_GER.csv
/NID_GER_ustid_trade.csv
/NoEmp.xlsx
/Raw
/StateAid_Size_Sector_Region_1-40000.xlsx
/StateAid_Size_Sector_Region_40001-66179.xlsx
/bvd_date.csv
/bvd_date.xlsx
/filtered_GER_TradeNo_1-250000.xlsx
/filtered_GER_TradeNo_250001-500000.xlsx
/filtered_GER_TradeNo_500001-730532.xlsx
/filtered_GER_TradeNo_Addition.xlsx
/filtered_GER_USt-VAT.xlsx
/found_GER.csv
/found_GER_4.csv
/found_GER_5.csv
/found_NID_GER.xlsx
/merged_GER.csv
/with_aid_state_4.csv
/with_aid_state_5.csv